

<p id='res1'>saes</p>

<div id="map"></div>
<div style="width:19%;float:right;text-align:left">
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form>

        <input placeholder="Title" id="txtTitle"> <br><br>
        <input placeholder="Description" id="txtDes"><br><br>
        <label> Rating </label>
        <input type="range" min="1" max="10" value="5" id="sldRating" placeholder="Rating"><br><br>
        <input placeholder="Address" id="txtAddress"><br><br>
        <input placeholder="Image URL" id="txtUrl"><br><br>
        <button>Add Entry</button>
</form>

</div>